:root {            /**  VARIABLES A UTILIZAR EN EL PROYECTO **/
    --primario: #F094D5;
    --variantePrimario: #A63C86;
    --secundario: #EEF547;
    --varianteSecundario: #e7d46b;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staaliches', cursive;
}


html {              /** 1rem = 10 Pixeles  BOX SIZING**/
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /** GLOBALES **/
  body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /** base de la fuente **/
  }

  p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco); 
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }

  h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
  }

  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.4rem;}
  h3 { font-size: 1rem; }


  /** HEADER **/
  .header {
    display: flex;
    justify-content: center;
   }

   .header__logo {
    margin: 3rem 0;
    width: 16rem;
   }

   /** FOOTER **/
   .footer {
    background-color: var(--variantePrimario);
    padding: 1rem 0;
    margin-top: 2rem;
   }

   .footer__texto {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
   }

   /** NAVEGACION **/
   .navegacion {
    background-color: var(--variantePrimario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
   }

   .navegacion__enlace--activo,
   .navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2rem;
   }

   .navegacion__enlace--activo,
   .navegacion__enlace:hover {
    color: var(--secundario);
   }
  